.bg-image-finance{
    background-image: url('../static/finance/h-finance.png');
    height: 400px;
    width: 100%;
    background-repeat: no-repeat, repeat;
    background-size: cover;
}
.position-logo-text-f{
    display: grid;
    align-items: center;
}
.container-info-flex-f{
    display: flex;
    align-items: center;
}
.container-image-logo-f{
    width: 65%;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background: transparent linear-gradient(270deg, #FFFFFF00 0%, #FFFFFFEA 100%) 0% 0% no-repeat padding-box;
}
.container-text-finance {
    width: 35%;
}
.container-image-logo-f img{
    margin-left: 50px;
    width: 500px;
}
.container-text-finance h1{
    font-size: 45px;
    color: #FFFFFF;
    padding: 10px;
}
.separacion-blanco{
    height: 50px;
    width: 100%;
    background: #F3F4F7;
}
.separacion-blanco2{
    height: 50px;
    width: 100%;
    background: #ebecf0;
}
.separacion-blanco3{
    height: 50px;
    width: 100%;
    background: #dfe0e4;
}

.bg-image-finance-second{
    background: transparent radial-gradient(closest-side at 50% 50%, #C60D1D 0%, #830a14 100%) 0% 0% no-repeat padding-box;
    height: inherit;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}
.container-imagen-control-f {
    width: 50%;
}
.container-imagen-control-f img{
    width: 100%;
}

.container-text-control-f{
    width: 50%;
}
.container-text-control-f h1{
    font-size: 55px;
    margin: 15px;
    padding-right: 10px;
}
.text-finance{
    margin-top: 20px;
    margin: 15px;
    padding: 20px;
    background: #ff9f32d8 0% 0% no-repeat padding-box;
}
.container-text-control-f p{
    padding: 15px;
    font-size: 18px;
}
.linea-control-f {
    border-top: 4px solid #FFFFFF;
    height: 5px;
    max-width: 100%;
    padding: 0;
    margin: 15px;
}

.separacion-blanco-f{
    height: 80px;
    background: #f7f4f3 0% 0% no-repeat padding-box;
    opacity: 0.29;
    margin-top: -40px;
}
.separacion-blanco-f2{
    height: 40px;
    background: #a10b18 0% 0% no-repeat padding-box;
    opacity: 0.29;
    margin-top: -40px;
}
.separacion-blanco-f3{
    height: 80px;
    background: #f7f4f3 0% 0% no-repeat padding-box;
    opacity: 0.22;
    margin-top: -40px;
}

.container-destacado{
    background: transparent radial-gradient(closest-side at 50% 50%, #C60D1D 0%, #830a14 100%) 0% 0% no-repeat padding-box;
    height: inherit;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}
.container-destacado h1{
    font-size: 60px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 5px solid #ffffff;
    width: fit-content;
}
.container-destacado-finance{
    width: 25%;
}
.image-destacado{
    width: fit-content;
    margin: auto;
    padding: 30px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
}
.image-destacado img{
    max-width: 100%;
    border-radius: 50%;
    border: 5px solid #FF9E32;
}
.text-destacado{
    padding: 15px 30px;
}
.text-destacado h3{
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
}
.text-destacado p{
    font-size: 18px;
}

.separacion2-blanco-f{
    height: 40px;
    background: #f7f4f3 0% 0% no-repeat padding-box;
    opacity: 0.29;
    margin-bottom: -40px;
}
.separacion2-blanco-f2{
    height: 40px;
    background: #a10b18 0% 0% no-repeat padding-box;
    opacity: 0.29;
}
.separacion2-blanco-f3{
    height: 40px;
    background: #f7f4f3 0% 0% no-repeat padding-box;
    opacity: 0.22;
}

.container-modulos{
    background: transparent radial-gradient(closest-side at 50% 50%, #C60D1D 0%, #830a14 100%) 0% 0% no-repeat padding-box;
    height: inherit;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 50px;
}
.container-text-modulos-f {
    padding: 15px;
}
.container-text-modulos-f h1{
    font-size: 60px;
    margin: 0 0 10px 0;
    border-bottom: 5px solid #FFFFFF;
    width: fit-content;
}
.image-descripcion-2{
    display: flex;
    align-items: center;
    padding: 15px;
}
.image-descripcion-2 img{
    padding: 10px;
    max-width: 120px;
}
.image-descripcion-2 span{
    margin-left: 15px;
}
.image-descripcion-2 span h3{
    margin-top: 0;
    margin-bottom: 10px;
}


@media (max-width: 992px){
    .container-text-finance h1 {
        font-size: 40px;
    }
    .container-text-control-f p{
        font-size: 16px;
    }
    .text-destacado h3{
        font-size: 20px;
    }
    .text-destacado p{
        font-size: 16px;
    }
    .container-destacado h1{
        font-size: 40px;
    }

    .container-text-modulos-f h1{
        font-size: 40px;
    }
}
@media (max-width: 768px){
    .container-text-finance {
        width: 100%;
    }

    .container-imagen-control-f{
        width: 100%;
    }
    .container-text-control-f {
        width: 100%;
    }
    .container-text-control-f h1{
        font-size: 40px;
    }

    .container-destacado-finance{
        width: 50%;
    }
}
@media (max-width: 565px){
    .container-image-logo-f img {
        margin-left: 15px;
        width: 300px;
    }
    .container-destacado-finance{
        width: 100%;
    }
}
