.bg-image-logistic{
    background: transparent url('../static/logistic/h-logistic.png') 0% 0% no-repeat padding-box;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat, repeat;
    background-size: cover;
}
.position-logo-text-log{
    display: grid;
    align-items: center;
}
.container-info-flex-log{
    display: flex;
    align-items: center;
}
.container-image-logo-log{
    width: 65%;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background: transparent linear-gradient(270deg, #FFFFFF00 0%, #FFFFFFEA 100%) 0% 0% no-repeat padding-box;
}
.container-text-logistic {
    width: 35%;
}
.container-image-logo-log img{
    margin-left: 50px;
    width: 300px;
}
.container-text-logistic h1{
    font-size: 45px;
    color: #FFFFFF;
    padding: 10px;
    
}

.container-carga{
    background:  radial-gradient(#790912 45%, #521117 90%);
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}
.container-carga-text{
    width: 50%;
}
.container-carga-text h1{
    font-size: 60px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 5px solid #ffffff;
    width: fit-content;
}
.container-carga-text p{
    padding: 15px;
    font-size: 18px;
}
.container-carga-text h3{
    padding: 15px;
}
.carga-text-caracteristicas{
    display: flex;
    align-items: center;
    padding: 15px;
}
.carga-text-caracteristicas img{
    background: #E1E8EA 0% 0% no-repeat padding-box;
    box-shadow: 5px 10px 15px #00000041;
    padding: 10px;
    border-radius: 50%;
    height: 45px;
}

.container-carga-image{
    width: 50%;
}

.carga-image{
    width: 50%;
    margin-left: 150px;
    margin-bottom: -150px;
}

.carga-image img{
    max-width: 90%;
    border-radius: 50%;
    border: 10px solid #5574F7;
    background:  0% 0% no-repeat padding-box;
    box-shadow: 2px 9px 10px #00000059;
}
.image-trailer{
    width: 100%;
    margin: auto;
    padding: 30px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
}
.carga-image2{
    width: 80%;
}

.carga-image2 img{
    max-width: 95%;
    border-radius: 50%;
    border: 10px solid #5574F7;
    background:  0% 0% no-repeat padding-box;
    box-shadow: 2px 9px 10px #00000059;
}
.image-laptop-log{
    max-width: 100%;
    position: relative;
    margin: auto;
    padding: 30px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
}

.container-destacado-logistic{
    width: 33.333%;
}
.image-destacado-log{
    width: fit-content;
    margin: auto;
    padding: 30px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
}
.image-destacado-log img{
    max-width: 100%;
    border-radius: 50%;
    border: 5px solid #5574F7;
}

.container-imagen-mejorsolucion-log {
    width: 60%;
}
.container-imagen-mejorsolucion-log img {
    max-width: 100%;
}
.container-text-mejorsolucion-log {
    width: 40%;
}
.container-text-mejorsolucion-log h1{
    font-size: 55px;
    margin-bottom: 10px;
    padding-right: 10px;
}
.container-text-mejorsolucion-log p{
    padding-right: 10px;
}

@media (max-width: 992px){
    .container-text-logistic h1{
        font-size: 40px;
    }
    .container-carga-text h1 {
        font-size: 45px;
    }
    .container-carga-image{
        padding-top: 150px;
    }
    .carga-image{
        margin-left: 50px;
        margin-bottom: -100px;
    }
    .container-text-mejorsolucion-log h1{
        font-size: 45px;
    }
}

@media (max-width: 768px){
    .container-image-logo-log{
        width: 100%;}
    .container-text-logistic {
        width: 100%;
    }

    .container-carga-text {
        width: 100%;
    }
    .container-carga-image{
        width: 100%;
        padding-top: 50px;
    }
    .carga-image{
        margin-left: 20px;
        margin-right: 20px;
    }
    .carga-image2 {
        margin: auto;
    }

    .container-destacado-logistic{
        width: 100%;
    }
    .container-text-mejorsolucion-log {
        width: 100%;
        padding: 15px;
    }
    .container-imagen-mejorsolucion-log {
        width: 100%;
    }
    .container-text-mejorsolucion-log {
        margin-left: 0px;
    }
    .container-text-mejorsolucion-log p{
        margin-top: 5px;
    }
    .container-text-mejorsolucion-log h1{
        font-size: 40px;
    }
}
