.bg-image-nimbus{
    background-image: url('../static/nimbus/h-nimbus.png');
    height: 400px;
    width: 100%;
    background-repeat: no-repeat, repeat;
    background-size: cover;
}
.position-logo-text{
    display: grid;
    align-items: center;
}
.container-info-flex{
    display: flex;
    align-items: center;
}
.container-image-logo{
    width: 65%;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background: transparent linear-gradient(270deg, #FFFFFF00 0%, #FFFFFFEA 100%) 0% 0% no-repeat padding-box;
}
.container-text-nimbus {
    width: 35%;
}
.container-image-logo img{
    margin-left: 50px;
    width: 300px;
}
.container-text-nimbus h1{
    font-size: 45px;
    color: #FFFFFF;
    padding: 10px;
}
.separacion-blanco{
    height: 50px;
    width: 100%;
    background: #F3F4F7;
}
.separacion-blanco2{
    height: 50px;
    width: 100%;
    background: #ebecf0;
}
.separacion-blanco3{
    height: 50px;
    width: 100%;
    background: #dfe0e4;
}

.bg-image-nimbus-second{
    background: transparent radial-gradient(closest-side at 50% 50%, #C60D1D 0%, #830a14 100%) 0% 0% no-repeat padding-box;
    height: inherit;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}
.container-imagen-mejorsolucion {
    width: 60%;
}
.container-imagen-mejorsolucion img{
    width: 100%;
}

.container-text-mejorsolucion{
    width: 40%;
    margin-left: -70px;
}
.container-text-mejorsolucion h1{
    font-size: 55px;
    margin-bottom: 10px;
    padding-right: 10px;
}
.container-text-mejorsolucion p{
    padding-right: 10px;
}
.linea-mejorsolucion {
    border-top: 4px solid #FFFFFF;
    height: 5px;
    max-width: 100%;
    padding: 0;
    margin-right: 40px;
  }
.container-text-mejorsolucion p{
    
}
.icon-descripcion{
    display: flex;
    align-items: center;
    padding: 15px;
}
.icon-descripcion img{
    background: #E1E8EA;
    background: #E1E8EA 0% 0% no-repeat padding-box;
    box-shadow: 5px 10px 15px #00000041;
    padding: 5px 10px;
    border-radius: 50%;
    height: 50px;
}
.icon-descripcion span{
    margin-left: 15px;
}
.icon-descripcion span h3{
    margin-top: 0;
    margin-bottom: 10px;
}
.icon-descripcion-2{
    display: flex;
    align-items: center;
    padding: 15px;
}
.icon-descripcion-2 img{
    background: #E1E8EA;
    background: #E1E8EA 0% 0% no-repeat padding-box;
    box-shadow: 5px 10px 15px #00000041;
    padding: 10px;
    border-radius: 50%;
    height: 45px;
}
.icon-descripcion-2 span{
    margin-left: 15px;
}
.icon-descripcion-2 span h3{
    margin-top: 0;
    margin-bottom: 10px;
}


.bg-image-nimbus-third{
    background: transparent radial-gradient(closest-side at 50% 50%, #C60D1D 0%, #830a14 100%) 0% 0% no-repeat padding-box;
    height: inherit;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 100px;
}
.bg-image-nimbus-third h1{
    font-size: 60px;
    margin: 20px;
    padding-bottom: 10px;
    border-bottom: 5px solid #ffffff;
    width: fit-content;
}
.separacion-card{
    width: 33.333%;
}
.container-card-info{
    padding: 25px;
}
.card-info{
    padding: 15px;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
}
.card-info img{
    max-width: 100%;
}
.card-info ul{
    margin-left: -15px;
}


.container-image-accesible{
    padding: 15px;
}
.container-image-accesible img{
    max-width: 100%;
}
.container-text-accesible{
    padding: 15px;
}
.container-text-accesible h1{
    font-size: 60px;
    margin: 0 0 10px 0;
}
.lineaAplicaciones{
    border-top: 3px solid #FFFFFF;
    height: 5px;
    max-width: 350px;
    padding: 0;
}

@media (max-width: 1200px){
    .container-text-mejorsolucion h1{
        font-size: 45px;
    }
}
@media (max-width: 992px){
    .container-text-nimbus h1 {
        font-size: 40px;
    }

    .container-text-mejorsolucion {
        margin-left: 0px;
    }
    .container-text-mejorsolucion p{
        margin-top: 5px;
    }
    .container-text-mejorsolucion h1{
        font-size: 40px;
    }
    .container-text-accesible h1 {
        font-size: 40px;
    }
}
@media (max-width: 768px){
    .container-image-logo{
        width: 100%;
    }
    .container-text-nimbus {
        width: 100%;
    }

    .container-imagen-mejorsolucion {
        width: 100%;
    }
    .container-text-mejorsolucion{
        width: 100%;
        padding: 15px;
    }

    .bg-image-nimbus-third h1{
        font-size: 45px;
        margin: 15px;
    }
    .separacion-card{
        width: 50%;
    }

}
@media (max-width: 565px){
    .container-image-logo img {
        width: 250px;
        margin-left: 15px;
    }
    .separacion-card{
        width: 100%;
    }
}