.bg-image-telemetry{
    background-image: url('../static/telemetry/prueba1.png');
    height: 400px;
    width: 100%;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: 50%;
}
.position-logo-text{
    display: grid;
    align-items: center;
}
.container-info-flex{
    display: flex;
    align-items: center;
}
.container-image-logo-tel{
    width: 65%;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background: transparent linear-gradient(270deg, #FFFFFF00 0%, #FFFFFFEA 100%) 0% 0% no-repeat padding-box;
}
.container-text-telemetry {
    width: 35%;
}
.container-image-logo-tel img{
    margin-left: 50px;
    width: 300px;
}
.container-text-telemetry h1{
    font-size: 45px;
    color: #5B5B5C;
    padding: 10px;
    
}
.container-icons-temeletry{
    margin-left: 80px;
}
.container-icons-temeletry img{
    padding: 15px;
}


.bg-image-compu{
    background: transparent radial-gradient(closest-side at 50% 50%, #C60D1D 0%, #830a14 100%) 0% 0% no-repeat padding-box;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.container-image-compu img{
    max-width: 100%;
    margin: 15px;
}
.container-text-exactitud h1{
    font-size: 45px;
    color: #ffffff;
    margin: 15px;
    margin-bottom: 0;
    padding-bottom: 10px;
    border-bottom: 5px solid #ffffff;
    width: fit-content;
}
.container-text-exactitud p{
    margin: 15px;
    color: #ffffff;
}


.bg-image-diagnostico{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #E1E8EA 0% 0% no-repeat padding-box;
    color: #474648;
}
.titulo-mediciones h1{
    font-size: 45px;
    margin: 30px;
    padding-bottom: 10px;
    border-bottom: 5px solid #ffffff;
    width: fit-content;
}
.container-text-diagnostico{
    width: 45%;
}
.container-text-diagnostico h3{
    font-size: 20px;
}
.container-text-diagnostico ul {
    padding-left: 20px;
}
.container-text-diagnostico ul li{
    font-size: 16px;
}
.text-diagnostico{
    margin: 50px;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    padding: 20px 10px;
}
.image-diagnostico{
    width: 55%;
    margin-top: -100px;
    margin-bottom: -100px;
}
.image-diagnostico img{
    max-width: 100%;
}

.bg-image-mediciones{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background: transparent radial-gradient(closest-side at 50% 50%, #C60D1D 0%, #830a14 100%) 0% 0% no-repeat padding-box;
    color: #ffffff;
}
.text-mediciones{
    margin: 30px;
    padding: 15px;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    display: flex;
}
.text-mediciones img{
    max-width: 200px;
}
.medicion-combustible{
    margin-left: 50px;
}
.medicion-combustible h3{
    margin-top: 0;
}

.container-herramientas{
    display: flex;
    align-items: center;
}
.image-dashboard img{
    max-width: 100%;
}
.text-herramientas h3{
    padding: 15px;
    margin-bottom: 0;
}
.text-herramientas p{
    padding: 15px;
    margin-top: 0;
}
.titulo-herramientas h1{
    font-size: 45px;
    margin: 40px auto;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 5px solid #ffffff;
    width: fit-content;
}




@media (max-width: 992px){
    .text-diagnostico {
        margin: 20px;
    }
}
@media (max-width: 768px){
    .bg-image-telemetry {
        height: 500px;
        background-position: bottom;
    }
    .container-text-telemetry {
        width: 100%;
    }
    .container-image-logo-tel{
        width: 100%;
    }
    .container-icons-temeletry{
        margin-left: 0;
    }
    
    .container-image-compu{
        text-align: center;
    }
    .container-image-compu img{
        max-width: 80%;
        margin: auto;
    }
    .text-mediciones{
        display: block;
    }
    .medicion-combustible{
        margin-left: 0;
        padding: 15px;
    }
    .text-mediciones img{
        max-width: 100%;
    }
    .image-combustible{
        text-align: center;
    }
    .container-text-diagnostico {
        width: 100%;
    }

    .container-text-diagnostico{
        width: 100%;
    }
    .image-diagnostico{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media (max-width: 565px){
    .bg-image-telemetry {
        height: 580px;
        background-position: bottom;
    }
    .container-image-logo-tel img {
        margin-left: 15px;
        width: 250px;
    }
}