@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
body{
  font-family: 'Roboto', sans-serif;
}
.App {
  text-align: center;
}
.MuiDrawer-paper{
  width: 40%;
}
.linea {
  border-top: 3px solid #FFFFFF;
  height: 5px;
  max-width: 350px;
  padding: 0;
  margin: 0 auto 0 40px;
}
.w-max{
  max-width: 1500px;
}
.mr-3{
  margin-right: 5px!important;
}
.mr-10{
  margin-right: 10px!important;
}
.mr-20{
  margin-right: 20px!important;
}
.mr-40{
  margin-right: 40px!important;
}
.mt-20{
  margin-top: 20px!important;
}
.mt-40{
  margin-top: 40px!important;
}
.options_links{
  text-decoration: none;
  color: rgb(139, 139, 139);
}
.options_links:hover{
  color: rgb(95, 95, 95);
}
.options_links_red{
  text-decoration: none;
  color: #A3232E;
}
.options_links_red:hover{
  color: #802028;
}

.separacion{
  height: 50px;
  width: 100%;
  background: #521117;
  opacity: 0.75;
  margin-top: -60px;
}
.separacion2{
  height: 50px;
  width: 100%;
  background: #521117;
  opacity: 0.75;
}
.separacion3{
  height: 50px;
  width: 100%;
  background: #FFFFFF;
  opacity: 0.75;
  margin-top: -25px;
}
.bg-image{
  background-image: url('./static/imagenes/imagen-top@2x.png');
  height: 900px;
  width: 100%;
  background-repeat: no-repeat, repeat;
  background-size: cover;
}
.bg-image-telemetria{
  background-image: url('./static/imagenes/telemetry-fondo@2x.png');
  background-repeat: no-repeat, repeat;
  background-size: cover;
}
.bg-image-second{
  background: radial-gradient(#A3232E 15%, #521117 80%);
}
.bg-image-second img{
  width: 80%;
}
.bg-image-second h1{
  font-size: 60px;
  margin-left: 40px;
  padding-top: 20px;
  margin-top: 0;
  color: #fff;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 5px solid #ffffff;
  width: fit-content;
}
.bg-image-fourth{
  background-color:#A3232E;
}
.bg-image-fourth img{
  /*width: 80%;*/
}
.bg-image-fourth h1{
  margin-left: 20px;
  padding-top: 20px;
  font-size: 60px;
  margin-top: 0;
  color: #fff;
  padding-bottom: 10px;
  border-bottom: 5px solid #ffffff;
  width: fit-content;
}
.bg-image-third {
  /*height: 100vh;*/
  
}
.bg-third-text{
  background: radial-gradient(#A3232E 15%, #521117 80%); 
  height: inherit;
  color: #fff;
}
.bg-image-third img{
  width: 100%;
  height: auto;
}
.bg-third-text img{
  height: 100%;
  max-width: 100%;
  width: 400px;
}
.container-geo h1{
  font-size: 60px;
}
@supports(object-fit: cover){
  .bg-image-third img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.row{
  display: flex;
  flex-wrap: wrap;
}
.p-24{
  padding: 24px;
}
.p-15{
  padding: 15px 60px;
}
.p-10{
  padding-left: 10px;
  padding-right: 10px;
}
.p-0{
  padding: 0px;
}
.info-productos{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.info-productos-mobile{
  margin-left: 40px;
  color: #fff;
}
.info-productos-image{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.info-telemetria{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.info-telemetria-bloque4{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-left: -100px;
}
.info-telemetria-bloque4 img{
  margin-left: 15px;
}
.descripcion-bloque4{
  max-width: 300px;
  color: #fff;
  text-align: right;
}
.info-telemetria-bloque3{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: -80px;
  /*margin-left: 180px;*/
}
.descripcion-bloque3{
  max-width: 300px;
  color: #fff;
  text-align: left;
}
.info-telemetria-bloque5{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-top: -100px;
}
.descripcion-bloque5{
  max-width: 300px;
  color: #fff;
  text-align: right;
}
.info-telemetria-bloque2{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: -100px;
}
.info-telemetria-bloque2 img{
  margin-left: 40px;
}
.descripcion-bloque2{
  max-width: 300px;
  color: #fff;
  text-align: left;
}
.info-telemetria-bloque1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: -30px;
  padding-bottom: 30px;
}
.info-telemetria-bloque1 img{
  margin-right: 15px;
}
.descripcion-bloque1{
  max-width: 300px;
  color: #fff;
  text-align: left;
}
.container-geo{
  padding: 15px 60px;
}
.container-info{
  padding-top: 10px;
  padding-bottom: 10px;
}
.container-info img{
  width: 200px;
}
.container-info p{
  font-size: 18px;
}
.bg-text {
  text-align: left;
  position: absolute;
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
}
.bg-text h1{
  width: 350px;
}
.bg-text p{
  width: 350px;
}
.btn{
  display: inline-block!important;
  font-weight: 300!important;
  line-height: 1.5!important;
  color: #212529!important;
  text-align: center!important;
  text-decoration: none!important;
  vertical-align: middle!important;
  cursor: pointer!important;
  -webkit-user-select: none!important;
  -moz-user-select: none!important;
  user-select: none!important;
  background-color: transparent!important;
  border: 1px solid transparent!important;
  padding: .375rem .75rem!important;
  font-size: 0.9rem!important;
  border-radius: 9px!important;
  text-transform: initial!important;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out!important;
}
.btn-primary{
  font-weight: 500!important;
  color: #fff!important;
  background-color: #A3232E!important;
  border-color: #A3232E!important;
}
.iconMenu{
  font-size: 1rem!important;
  background-color: #A3232E!important;
  border-color: #A3232E!important;
  color: #FFFFFF!important;
  border-radius: 9px!important;
}
.iconMenu svg {
  width: 23px;
  height: 100%;
  color: #FFFFFF!important;
}
.header{
  background-color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: inset 0px -2px 5px 0px #00000038;
}
.footer{
 color: #fff;
}
.container-footer{
  padding: 10px 20px;
  background-color: #474648;
}
.container-footer p, .container-footer li{
  font-size: 12px;
}
.container-footer a{
  color: #fff;
  text-decoration: none;
}
.container-footer a:hover{
  text-decoration: underline;
}
.des-contacto{
  display: flex;
  align-items: center;
}
.icon-social-media{
  width: 20px;
}
.border-r{
  border-left: 1px solid #fff;
}
.list_options{
  margin-left: 15px;
  margin-right: 15px;
}
.list_options img{
  margin-bottom: 30px;
  margin-top: 10px;
  width: 120px;
}
.list_options ul{
  padding-inline-start: 0px;
}
.list_options ul ul{
  padding-inline-start: 20px;
}
.list_options ul li{
  color: #A3232E;
  font-size: 22px;
  list-style: none;
  margin-top: 20px;
}
.list_options ul li ul li{
  font-size: 18px;
  color: rgb(139, 139, 139);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.logo-gurtam{
  height: 40px;
  margin: 40px;
}
.bg-gurtam{
  background-color: #E1E8EA;
}
.bg-erm{
  background-color: #F2F3F4;
}
.bg-digevo{
  background-color: #FFFFFF;
}
.container-logo img{
  max-width: 100%;
}
@media (max-width: 1200px){
  .bg-image-second .fondo-oculto{
    display: none;
  }
  
}
@media (max-width: 992px){
  .bg-text {
    text-align: left;
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .bg-image-second h1{
    font-size: 45px;
  }

  .container-geo h1{
    font-size: 45px;
  }
}
@media (max-width: 768px){
  .info-telemetria-bloque4 {
    margin-left: -10px;
  }
  .info-telemetria-bloque5 {
    margin-top: -50px;
  }
  .bg-image-third img{
    display: none;
  }
  .container-geo {
    padding: 15px 40px;
  }
  .bg-image-second h1{
    margin-left: 15px;
    margin-right: 15px;
  }
  .linea {
    margin: 0 15px 0 15px;
  }
  .info-productos-mobile {
    margin-left: 15px;
    margin-right: 15px;
  }
  .bg-image-fourth h1 {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 45px;
  }
}
@media (max-width: 565px){
  .show-button-mobile{
    display: block;
  }
  .hidden-button-mobile{
    display: none!important;
  }
  .bg-text {
    text-align: left;
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .bg-image {
    height: 100vh;
  }
  .MuiDrawer-paper {
    width: 60%;
  }
  .container-geo{
    padding: 15px 20px;
  }
  .info-telemetria-bloque3 {
    margin-top: 0px;
  }
  .info-telemetria-bloque5 {
    margin-top: 0px;
  }
  .info-telemetria-bloque2 {
    margin-top: 0px;
  }
  .descripcion-bloque5 {
    padding: 0 10px;
  }
  .descripcion-bloque2 {
    padding: 0 10px;
  }
  .info-telemetria-bloque1 img {
    max-width: 180px;
  }
  .info-telemetria-bloque2 img {
    max-width: 180px;
    margin-left: 10px;
  }
  .info-telemetria-bloque5 img {
    max-width: 180px;
  }
  .info-telemetria-bloque4 img {
    max-width: 150px;
  }
  .descripcion-bloque4 {
    margin: 15px;
  }
  .info-telemetria-bloque4 {
    margin-left: 0;
  }
  .descripcion-bloque3 {
    margin: 15px;
  }
  .descripcion-bloque1 {
    margin: 15px;
  }
  .info-telemetria-bloque1 {
    margin-top: 0; 
  }
}

@media (max-width: 450px){
  .bg-text {
    left: 55%;
  }
  .bg-text h1 {
    width: 300px;
  }
}
@media (min-width: 565px){
  .show-button-mobile{
    display: none!important;
  }
}
@media (min-width: 768px){
  .w-33{
    max-width: 33.333333%;
    flex: 0 0 33.333333%;
  }
  .w-50{
    width: 50%;
    flex: 0 0 auto;
  }
}
@media (min-width: 992px){
  .bg-text h1{
    width: 400px;
    font-size: 32px;
  }
  .bg-text p{
    width: 350px;
    font-size: 18px;
  }
}
@media (min-width: 1200px){
  .bg-text h1{
    width: 400px;
    font-size: 40px;
  }
  .bg-text p{
    width: 350px;
    font-size: 25px;
  }
  .info-productos-mobile{
    display: none;
  }
  .bg-third-text img {
    width: 450px;
    margin-top: 50px;
  }
  
}

